.vscode
.ipynb_checkpoints
*__pycache__

/literature
/article/*
!article/img/
!article/article.pdf
!article/article.tex
!article/research.pdf
!article/research.tex
!article/test_summary.csv

